<section class="mainblock container-fluid row row-cols-2">
    <div class="col">
        <div class="row itemblock" *ngFor="let product of cart">
            <div class="col-md-6">
                <img src="{{ product.url }}" class="itempic" />
            </div>
            <div class="col-md-6 infoblock">
                <i (click)="removeItem(product.id)" class="removeLink">
                    <fa-icon [icon]="XIcon" class="text-danger"></fa-icon>
                </i>
                <h4>{{ product.name }}</h4>
                <p class="itemdesc">{{ product.description }}</p>
                <p>- {{ product.price }} {{ currencySymbol }} -</p>
                <label for="quantity">Amount: </label>
                <input type="number" name="quantity" (change)="setQuantity($event, product.id)"
                    value="{{ product.quantity }}" min="1" class="itemquant" />
            </div>
        </div>
    </div>
    <div class="col">
        <form #form="ngForm" (ngSubmit)="onSubmit($event)">
            <div class="form-group">
                <label for="first">Firstname: </label>
                <input type="text" #first="ngModel" name="first" class="form-control" required
                    [(ngModel)]="header.firstName" />
            </div>
            <br>
            <div class="form-group">
                <label for="last">Lastname: </label>
                <input type="text" #last="ngModel" name="last" class="form-control" required
                    [(ngModel)]="header.lastName" />
            </div>
            <br>
            <div class="form-group">
                <label for="address">Address: </label>
                <input type="text" #address="ngModel" name="address" class="form-control" required
                    [(ngModel)]="header.address" />
            </div>
            <br>
            <div class="form-group">
                <label for="card">Creditcard number: </label>
                <input type="text" #card="ngModel" name="card" class="form-control" required minlength="16"
                    pattern="[0-9]*" [(ngModel)]="header.card" />
            </div>
            <br>
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Send Order</button>
        </form>
        <div *ngIf="form.invalid">
            <br>
            <div *ngIf="first.errors?.required" class="alert alert-danger">
                Please provide your first name.
            </div>
            <div *ngIf="last.errors?.required" class="alert alert-danger">
                Please provide your last name.
            </div>
            <div *ngIf="address.errors?.required" class="alert alert-danger">
                Please provide your address.
            </div>
            <div *ngIf="card.errors?.minlength" class="alert alert-danger">
                Please provide a valid 16 character creditcard number.
            </div>
            <div *ngIf="card.errors?.pattern" class="alert alert-danger">
                Please check your creditcard number format.
            </div>
        </div>
        <br>
    </div>
    <div class="container">
        <h2>Total: {{ total }}</h2>
    </div>
</section>