<section class="orderblock">
    <div *ngIf="order.total != '0.00' && order.card !=''; else invalid">
        <h2 class="alert alert-success">Success!</h2>
        <p>Your order of - {{ order.total }} {{ currencySymbol }} - is completed.</p>
        <p>Order will be shipped to <strong>{{ order.address }}</strong> within 6-7 years.</p>
        <p>Thank you for shopping at #MyStore!</p>
        <br>
        <button routerLink="" class="btn btn-primary">Return to shop</button>
    </div>
    <ng-template #invalid>
        <h2 class="alert alert-danger">Ohno!</h2>
        <p>Your billing information is not valid or the cart is empty.</p>
        <br>
        <button routerLink="" class="btn btn-primary">Return to shop</button>
    </ng-template>
</section>