<div class="container-fluid mainlistblock">
    <a [routerLink]="['/details', product.id]" class="picblock">
        <img src="{{ product.url }}" alt="{{ product.name }}" class="itempic" />
    </a>
    <div class="row infoblock">
        <h4 class="itemname">{{ product.name }}</h4>
        <p class="itemdesc">{{ product.description }}</p>
        <p class="itemprice"> - {{ product.price }} - </p>
        <div>
            <select class="itemquan" [(ngModel)]="quantity">
                <option selected [ngValue]="1">1</option>
                <option [ngValue]="2">2</option>
                <option [ngValue]="3">3</option>
                <option [ngValue]="4">4</option>
                <option [ngValue]="5">5</option>
                <option [ngValue]="6">6</option>
                <option [ngValue]="7">7</option>
                <option [ngValue]="8">8</option>
                <option [ngValue]="9">9</option>
                <option [ngValue]="10">10</option>
            </select>
        </div>
        <div>
            <button class="btn btn-success" (click)="addItem(product.id)">Add to cart</button>
        </div>
        <br>
        <ngb-toast *ngIf="show" (hidden)="this.show = false" class="bg-success text-light w-100 infoblock"
            [delay]="2000">
            <strong>{{ product.name }}</strong> added to cart!
        </ngb-toast>
    </div>
</div>