<div class="container-fluid mainlistblock">
    <a [routerLink]="['/details', product.id]" class="picblock">
        <img src="{{ product.url }}" alt="{{ product.name }}" class="itempic" />
    </a>
    <div class="row infoblock">
        <h4 class="itemname">{{ product.name }}</h4>
        <p class="itemdesc">{{ product.description }}</p>
        <p class="itemprice"> - {{ product.price }} {{ currencySymbol }} - </p>
        <div>
            <select class="itemquan" (change)="setQuantity($event)">
                <option selected value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <div>
            <button class="btn btn-success" (click)="addItem(product.id)">Add to cart</button>
        </div>
    </div>
</div>